.mainFormSkill {
    width: 90%;
    height: 80vh;
    margin: auto;
    margin-top: 10vh;
    border: 1px solid transparent;
    border-radius: 2%;
}

.selectSkills {
    width: 50%;
}

.back-href {
    width: 60%;
    background-color: #2471a3;
    color: white;
    text-align: center;
    height: 3rem;
    line-height: 3rem;
}

.back-href:hover {
    background-color: hsl(222, 55%, 16%);
}

.sectionForm button{
    margin: 0;
}