.mainWorkForm {
    height: 100%;
}

.formWork {
    width: 60%;
    height: 400px;
    margin: auto;
    margin-top: 25vh;
}

.back-href {
    width: 60%;
    background-color: #2471a3;
    color: white;
    text-align: center;
}

.back-href:hover {
    background-color: hsl(222, 55%, 16%);
}

.sectionForm button{
    margin: 0;
}